.type-filter {
  margin-bottom: 0;
}

.filter {
  margin-bottom: 0.5em;
}

.activity-log-expansion-panel {
  margin-bottom: 0.5em;
}

.activity-log-expansion-panel mat-expansion-panel-header {
  margin: 0.5em;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
