<h1 class="mat-h1">Activity Log</h1>

<div *ngIf="activityLogsErrorMessage" class="alert--red">{{ activityLogsErrorMessage }}</div>

<div *ngIf="loading">
  <h3 class="mat-h3">Loading Activity Log...</h3>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!activityLogsErrorMessage && !loading">
  <p class="type-filter">Filter by type</p>
  <mat-button-toggle-group class="filter">
    <mat-button-toggle (change)="applyFilter('ALL')" [checked]="currentTypeFilter === undefined">All</mat-button-toggle>
    <mat-button-toggle (change)="applyFilter('TRIGGER')" [checked]="currentTypeFilter === activityLogTypeEnum.TRIGGER">Trigger</mat-button-toggle>
    <mat-button-toggle (change)="applyFilter('SENSOR')" [checked]="currentTypeFilter === activityLogTypeEnum.SENSOR">Sensor</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<p *ngIf="!activityLogsErrorMessage && !loading && activityLogsSize === 0 && activityLogsEnabled">No entries for SmartHome <b>{{ smartHomeName }}</b> found.</p>
<p *ngIf="!activityLogsErrorMessage && !loading && !activityLogsEnabled">The activity log is not activated for the <b>{{ smartHomeName }}</b> SmartHome.</p>

<div *ngIf="!activityLogsErrorMessage && activityLogsSize > 0 && activityLogsEnabled">
  <div *ngIf="currentBreakpoint <= breakpoints[1]">
    <mat-accordion>
      <mat-expansion-panel class="activity-log-expansion-panel" *ngFor="let activityLog of activityLogs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ activityLog.dateShort }}
          </mat-panel-title>
          <mat-panel-description>
            {{ activityLog.type }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ activityLog.date }}</p>
        <p>Device: {{ activityLog.device }}</p>
        <p *ngIf="activityLog.state !== null && activityLog.formattedState">State: <span [ngStyle]="{'color': activityLog.state ? 'green' : 'red'}">{{ activityLog.formattedState }}</span></p>
        <p *ngIf="activityLog.user">User: {{ activityLog.user }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div *ngIf="currentBreakpoint >= breakpoints[2]">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let activityLog">{{ activityLog.date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="device">
        <mat-header-cell *matHeaderCellDef>Device</mat-header-cell>
        <mat-cell *matCellDef="let activityLog">{{ activityLog.device }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let activityLog">{{ activityLog.type }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
        <mat-cell *matCellDef="let activityLog"><span *ngIf="activityLog.state !== null && activityLog.formattedState" [ngStyle]="{'color': activityLog.state ? 'green' : 'red'}">{{ activityLog.formattedState }}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
        <mat-cell *matCellDef="let activityLog">{{ activityLog.user }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>
</div>

<mat-paginator class="mat-elevation-z8"
               [style]="{'visibility': activityLogsSize > 0 ? 'visible' : 'hidden'}"
               (page)="handlePageEvent($event)"
               [length]="activityLogsSize"
               [pageSize]="initialPageSize"
               [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator>
