<div class="notification-bar icon-with-text" [style]="{ 'background-color': backgroundColor, 'color': color }">
  <mat-icon>{{ icon }}</mat-icon>
  <p>{{ message }}</p>
  <button mat-raised-button *ngIf="action" (click)="executeAction()">{{ action }}</button>
</div>
