<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="authenticated ? ((isHandset$ | async) === false) : false">
    <ng-container *ngIf="navigationLinks.length !== 0">
      <mat-toolbar>Navigation</mat-toolbar>
      <mat-nav-list *ngFor="let navigationLink of navigationLinks">
        <a mat-list-item [routerLink]="navigationLink.path" (click)="drawer.toggle()">
          <span class="icon-with-text"><mat-icon matListIcon *ngIf="navigationLink.icon" style="margin-right: 5px;">{{ navigationLink.icon }}</mat-icon>{{ navigationLink.name }}</span>
        </a>
        <a mat-list-item *ngFor="let childrenLink of navigationLink.children" [routerLink]="childrenLink.path">{{ childrenLink.name }}</a>
      </mat-nav-list>
      <div *ngIf="version" class="sidenav-bottom-container">
        <p>{{ version }}</p>
      </div>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-notification-bar *ngFor="let notificationBarEvent of notificationBarEvents" [config]="notificationBarEvent" (actionExecuted)="notificationBarActionExecuted($event)"></app-notification-bar>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="authenticated">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>OpenSmartHome</span>
      <ng-container *ngIf="authenticated">
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
          <mat-icon>home</mat-icon><mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="!smartHomesErrorMessage">
            <button mat-menu-item *ngFor="let smartHome of smartHomes" routerLink="/dashboard/{{smartHome.id}}">
              <mat-icon>home</mat-icon>
              <span>{{ smartHome.name }}</span>
            </button>
          </ng-container>
          <button mat-menu-item *ngIf="smartHomesErrorMessage">
            <mat-icon>warning</mat-icon>
            <span>{{ smartHomesErrorMessage }}</span>
          </button>
          <hr>
          <button mat-menu-item routerLink="/logout">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
    <div class="content-container">
      <div *ngIf="loginRenewMessage" [ngClass]="loginRenewMessage.successful ? 'alert--green' : 'alert--red'">{{ loginRenewMessage.message }}</div>
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
