.content-container {
  margin: 20px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-bottom-container {
  position: absolute;
  bottom: 0;
  padding: 16px;
  overflow-wrap: anywhere;
}
