<h1 class="mat-h1">File collections</h1>

<p *ngIf="collections?.length === 0">No file collections are currently shared with you.</p>

<div *ngIf="collections?.length === 0 && noCollectionsFoundImageId" class="no-files-found-img">
  <img src="/api/v1/file/{{ noCollectionsFoundImageId }}/full" alt="Not found">
</div>

<div *ngIf="loading">
  <h3 class="mat-h3">Loading collections...</h3>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-accordion *ngIf="!loading && collections.length > 0">
  <mat-expansion-panel *ngFor="let collection of collections" [expanded]="collection.id === currentlyOpenedCollectionId" (opened)="fetchFilesForCollection(collection)" class="remove-expansion-panel-padding">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ collection.name }}</mat-panel-title>
    </mat-expansion-panel-header>
    <h5 class="mat-h5">Shared by: {{ collection.creator }}<span *ngIf="collection.sharedWith.length > 0"> - Shared with: {{ collection.sharedWith }}</span></h5>
    <div *ngFor="let file of collection.files" class="item">
      <div>{{ file.name }}</div>
      <div class="item-content">
        <img class="item-img-preview" src="/api/v1/file/{{ file.id }}/preview" alt="Not found">
        <div>
          <div>{{ file.resolution }}</div>
          <div>{{ file.timestamp }}</div>
          <p [style]="{'visibility': file.viewed ? 'hidden' : 'visible'}" class="new-img">New</p>
        </div>
        <div class="buttons">
          <button mat-stroked-button color="primary" class="download-button" (click)="viewImage(file)"><mat-icon>visibility</mat-icon></button>
          <button mat-stroked-button color="primary" class="download-button" (click)="viewImage(file, true)"><mat-icon>download</mat-icon></button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
