.no-files-found-img {
  position: relative;
  width: 100%;
}

.no-files-found-img img {
  max-width: 22em;
  pointer-events: none;
}

.collection-title {
  position: relative;
  overflow-wrap: anywhere;
}

.collection-title h3 {
  margin-bottom: 0;
}

.collection-title h3 {
  overflow-wrap: anywhere;
}

.new-img {
  background-color: #62e0a2;
  width: max-content;
  border-radius: 0.2rem;
  padding: 0.2em;
}

.item {
  border: 0.1rem solid;
  margin-bottom: 1em;
  padding: 0.3em;
  position: relative;
}

.item-content {
  display: flex;
}

.item-img-preview {
  object-fit: cover;
  height: 4rem;
  margin-right: 0.5em;
  border: 0.1rem solid;
  pointer-events: none;
}

.buttons {
  position: absolute;
  right: 0;
  padding-right: inherit;
  display: flex;
  flex-direction: column;
}

.buttons .download-button {
  margin: 0.1em;
}

.buttons .download-button mat-icon {
  margin: 0;
}

mat-expansion-panel {
  margin-bottom: 0.5em;
}
