<h1 mat-dialog-title>Renew Login</h1>
<div mat-dialog-content>
  <div *ngIf="data.afterUpdate">
    <p>You have changed the setting for expiration of logins. This setting affects only new logins. Do you want to update your current login/session? Then enter an OTP token and click <b>Renew Login</b>. Otherwise click <b>Cancel</b>.</p>
  </div>
  <div *ngIf="data.errorMessage" class="alert--red">{{ data.errorMessage }}</div>
  <p>Use the code from your two-factor authentication app.</p>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>OTP Token</mat-label>
      <input matInput pattern="[0-9]*" maxlength="6" formControlName="otpToken" autocomplete="off" data-lpignore="true" cdkfocusinitial/>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="submitButtonDisabled">Renew Login</button>
</div>
