<mat-card>
  <mat-card-header>
    <mat-card-title [style]="error ? {} : { 'margin-bottom': '1em' }">Two-Factor Authentication (2FA)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="verify()">
      <div *ngIf="error" class="alert--red">{{ error }}</div>

      <p [style]="error ? { 'margin-top': '1em' } : {}">Use the code from your two-factor authentication app.</p>

      <mat-form-field appearance="outline">
        <mat-label>OTP Token</mat-label>
        <input type="text" pattern="[0-9]*" maxlength="6" matInput formControlName="otpToken" autocomplete="off" data-lpignore="true" required>
      </mat-form-field>

      <div class="verify-button">
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">Verify</button>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </div>
    </form>
  </mat-card-content>
</mat-card>
