:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

mat-card-header,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.verify-button {
  position: relative;
  width: 100%;
}

.verify-button button {
  width: 100%;
  margin-top: 0.5em;
}

.verify-button mat-progress-bar {
  position: absolute;
  bottom: 0;
}
