:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

mat-card-header,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
}
