<mat-card>
  <mat-card-header>
    <mat-card-title [style]="error ? {} : { 'margin-bottom': '1em' }">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div *ngIf="error" class="alert--red">{{ error }}</div>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" autocomplete="username" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" autocomplete="current-password" required>
      </mat-form-field>

      <div class="button">
        <button mat-button type="submit" [disabled]="loading">Login</button>
      </div>

      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
  </mat-card-content>
</mat-card>
