<mat-vertical-stepper [linear]="true" #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>

  <mat-step [stepControl]="regCodeFormGroup">
    <form [formGroup]="regCodeFormGroup" (ngSubmit)="verifyRegCode()">
      <ng-template matStepLabel>Enter your Registration code</ng-template>
      <div *ngIf="regCodeErrorMessage" class="alert--red">{{ regCodeErrorMessage }}</div>
      <mat-form-field appearance="fill">
        <mat-label>Registration code</mat-label>
        <input matInput [(ngModel)]="regCode" placeholder="XXXX-XXXX-XXXX-XXXX" formControlName="regCode" required>
      </mat-form-field>
      <div>
        <button mat-button color="primary" type="submit">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="userDetailsFormGroup">
    <form [formGroup]="userDetailsFormGroup" (ngSubmit)="verifyUserDetails()">
      <ng-template matStepLabel>Fill out your User details</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" formControlName="username" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="emailAddress" formControlName="mailAddress" placeholder="E-Mail" type="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Firstname (optional)</mat-label>
        <input matInput [(ngModel)]="firstname" formControlName="optional" placeholder="Firstname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Lastname (optional)</mat-label>
        <input matInput [(ngModel)]="lastname" formControlName="optional" placeholder="Lastname">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="primary" type="submit">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="setupOTPFormGroup">
    <form [formGroup]="setupOTPFormGroup" (ngSubmit)="verifyOTP()">
      <ng-template matStepLabel>One Time Password Setup</ng-template>
      <p>1. Scan this QR-Code with your Authenticator App (e.g. Google Authenticator)</p>
      <qrcode [qrdata]="otpLink" [errorCorrectionLevel]="'M'"></qrcode>
      <p>or click this Button to open your Authenticator App automatically</p>
      <button mat-raised-button (click)="openOTPLink()">Open OTP App</button>
      <p>or set it up manually.</p>
      <button mat-raised-button (click)="otpDetailsDisplay = 'block'">Manual OTP setup</button>
      <div [ngStyle]="{'display': otpDetailsDisplay}">
        <p>Issuer: OpenSmartHome</p>
        <p>Username: {{ username }}</p>
        <p>Secret: {{ otpSecret }}</p>
        <button mat-raised-button [cdkCopyToClipboard]="otpSecret"><mat-icon>file_copy</mat-icon></button>
      </div>
      <p>2. Verify that your OTP is working correctly. Please enter your OTP token.</p>
      <div *ngIf="verifyOtpErrorMessage" class="alert--red">{{ verifyOtpErrorMessage }}</div>
      <mat-form-field class="otp-secret" appearance="fill">
        <mat-label>OTP token</mat-label>
        <input matInput [(ngModel)]="otpToken" formControlName="otpToken" placeholder="000 000" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="primary" type="submit">Verify</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="passwordFormGroup">
    <form [formGroup]="passwordFormGroup" (ngSubmit)="register()">
      <ng-template matStepLabel>Enter your password</ng-template>
      <p>Password must be at least 8 symbols long and must contain 2 symbols, 2 numbers and 2 letters.</p>
      <div *ngIf="registerErrorMessage" class="alert--red">{{ registerErrorMessage }}</div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [(ngModel)]="password" formControlName="password"
               required type="password">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Reenter Password</mat-label>
        <input matInput placeholder="Reenter password" formControlName="passwordVerify"
               required type="password">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="primary" type="submit">Register</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button color="primary" routerLink="/login">Go to Login</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
