/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert {
  padding: 12px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin: 1rem 0;

  &--green {
    @extend .alert;
    background-color: rgb(209, 231, 221);
    border-color: rgb(186, 219, 204);
    color: rgb(15, 81, 50);
  }

  &--red {
    @extend .alert;
    background-color: rgba(248, 215, 218, 1);
    border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36,1);
  }
}

.icon-with-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.remove-expansion-panel-padding .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0.2em !important;
}
