table {
  width: 100%;
}

th, td, button {
  white-space: normal;
  word-wrap: break-word;
}

.mat-tab-account {
  padding-top: 1em;
}

.mat-form-field-session-expiration {
  width: 100%;
}

.active-sessions-expansion-panel {
  margin-bottom: 0.5em;
}

.active-sessions-expansion-panel mat-expansion-panel-header {
  margin: 0.5em;
}
