<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Account">
    <div class="mat-tab-account"> <!-- CSS selector for mat-tab directly is not working -->
      <div *ngIf="!userSettings && !userSettingsErrorMessage">
        <h3 class="mat-h3">Loading User settings...</h3>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="userSettingsErrorMessage" class="alert--red">{{ userSettingsErrorMessage }}</div>
      <div *ngIf="userSettings">
        <div *ngIf="settingsSaved" class="alert--green">Settings saved</div>
        <p>Username: {{ userSettings.username }}</p>
        <p>E-mail address: {{ userSettings.emailAddress }}</p>
        <p [style]="{ 'color': userSettings.secondFactorEnabled ? 'green' : 'red'}">{{ userSettings.secondFactorEnabled ? '2FA enabled' : '2FA disabled' }}</p>
        <mat-form-field class="mat-form-field-session-expiration">
          <mat-label>Login/Session Expiration (How long new logins are valid)</mat-label>
          <mat-select [(value)]="userSettings.sessionExpiration" [disabled]="sessionExpirations === undefined">
            <mat-option *ngFor="let sessionExpiration of sessionExpirations" [value]="sessionExpiration">{{ sessionExpiration }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="saveSettings()" [disabled]="sessionExpirations === undefined">Save Settings</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Active Sessions">
    <div *ngIf="activeSessionsErrorMessage" class="alert--red">{{ activeSessionsErrorMessage }}</div>

    <div *ngIf="!activeSessionsErrorMessage && activeSessionsData">
      <mat-accordion *ngIf="currentBreakpoint <= breakpoints[1]">
        <mat-expansion-panel class="active-sessions-expansion-panel"
                             *ngFor="let session of activeSessionsData"
                             [style]="{'margin-top': session === activeSessionsData[0] ? '1em' : ''}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Signed in: {{ session.createdAt }}
            </mat-panel-title>
            <mat-panel-description *ngIf="session.current">
              This session
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>ID: {{ session.id }}</p>
          <p>Expire at: {{ session.expireAt }}</p>
          <button mat-raised-button color="warn" (click)="deleteSession(session)">{{ session.current ? 'Revoke and logout this session' : 'Revoke'}}</button>
        </mat-expansion-panel>
      </mat-accordion>

      <table mat-table *ngIf="currentBreakpoint >= breakpoints[2]" [dataSource]="activeSessionsData" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let session"> {{session.id}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Signed in</th>
          <td mat-cell *matCellDef="let session"> {{session.createdAt}} </td>
        </ng-container>

        <ng-container matColumnDef="expireAt">
          <th mat-header-cell *matHeaderCellDef>Expiration</th>
          <td mat-cell *matCellDef="let session"> {{session.expireAt}} </td>
        </ng-container>

        <ng-container matColumnDef="revoke">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let session">
            <button mat-raised-button color="warn" (click)="deleteSession(session)">{{ session.current ? 'Revoke and logout this session' : 'Revoke'}}</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
