.offline-icon {
  position: absolute;
  right: 0;
  padding-right: inherit;
}

.trigger-button {
  position: relative;
  width: 100%;
}

.trigger-button button {
  width: 100%;
}

.trigger-button mat-progress-bar {
  position: absolute;
  bottom: 0;
}
