<h1 class="mat-h1">Dashboard</h1>

<div *ngIf="devicesLoading">
  <h3 class="mat-h3">Loading Devices...</h3>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="devicesErrorMessage" class="alert--red">{{ devicesErrorMessage }}</div>

<div fxLayout="row wrap" fxLayoutGap="20px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4" *ngFor="let device of devices" style="margin-bottom: 20px;">
      <mat-card-header>
        <mat-icon mat-card-avatar *ngIf="device.type.icon">{{ device.type.icon }}</mat-icon>
        <mat-card-title>{{ device.name }}</mat-card-title>
        <mat-card-subtitle *ngIf="device.hasSensor || !device.online" [ngStyle]="{'color': (!device.online) ? 'red' : (device.sensorState) ? 'green' : 'red'}">{{ !device.online ? 'Device is offline' : device.sensorState ? device.type.sensorTrueText : device.type.sensorFalseText }}</mat-card-subtitle>
        <mat-icon *ngIf="!device.online" class="offline-icon">signal_wifi_off</mat-icon>
      </mat-card-header>
      <mat-card-actions>
        <div class="trigger-button">
          <button mat-raised-button color="primary" (click)="triggerDevice(device)" [disabled]="!device.online || device.loading">Trigger</button>
          <mat-progress-bar mode="indeterminate" *ngIf="device.loading"></mat-progress-bar>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
